# **Data Science Tools and Ecosystem**

# In this notebook, Data Science Tools and Ecosystem are summarized.

**Objetives of this notebook**
- Demonstrate what i have learned in the course
- Practice what I've learned
- Make a list about languajes, libraries and tools that Data Scientists use

Some of the popular languajes that Data Scientists use are:
1. Python
2. Java
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. TensorFlow

| Data Science Tools|
| ------ | 
| Anaconda| 
| TensorFlow| 
| Keras|

### Below are a few examples of evaluating arithmetic expressions in Python

In [44]:
print(" This a simple arithmetic expression to mutiply then add integers")
(3*4)+5

 This a simple arithmetic expression to mutiply then add integers

17

In [48]:
time = float(input("Input time in minutes:"))
hour = time%60
minutes= (time//60)
print("It´s",int(hour),"hours and", int(minutes),"minutes.")

Input time in minutes: 200

It´s 20 hours and 3 minutes.

In [46]:
#This will convert 200 minutes to hours by diving by 60
hour = 200%60
print("It´s",int(hour), "hours")

It´s 20 hours

## Author: Rogelio Ramirez